// #############################################################################
//
// CUSTOM SETTINGS
//
// this setting file is intended for additional variables not defined within the bootstrap default
// feel free to create additional files if settings get cluttered
//
// #############################################################################

// #############################################################################

$speed-base:    200ms;

// #############################################################################
// Z-INDEX
// DOCS: http://www.sitepoint.com/better-solution-managing-z-index-sass/
// http://sassmeister.com/gist/341c052928c956c1a751
// use case: header { z-index: z("modal", "header"); }

/*
$z-layers: (
    "goku":            9001,
    "shoryuken":       8000,
    "modal": (
        "base":         500,
        "close":        100,
        "header":        50,
        "footer":        10
    ),
    "default":            1,
    "below":             -1,
    "bottomless-pit": -9000
);
*/

// #############################################################################
// HELPERS/spacer
// unused in sass code

.spacer {
    margin-top: $line-height-computed;
    margin-bottom: $line-height-computed;
}
.spacer-xs {
    margin-top: $line-height-computed / 2;
    margin-bottom: $line-height-computed / 2;
}
.spacer-sm {
    margin-top: $line-height-computed / 1.5;
    margin-bottom: $line-height-computed / 1.5;
}
.spacer-md {
    @extend .spacer;
}
.spacer-lg {
    margin-top: $line-height-computed * 2;
    margin-bottom: $line-height-computed * 2;
}
.spacer-zero {
    margin: 0;
}
.spacer:after,
.spacer-xs:after,
.spacer-sm:after,
.spacer-md:after,
.spacer-lg:after,
.spacer-zero:after {
    content: "";
    display: table;
    clear: both;
}

// #############################################################################
// HELPERS/accessibility
// unused in sass code

.skip-links {
    @extend .list-unstyled;
    position: absolute;
    top: $navbar-height;
    right: 0;
    left: 0;
    z-index: 9999;
    a {
        @extend .sr-only;
        @extend .sr-only-focusable;
    }
}

// #############################################################################
// HELPERS/styleguide
// unused in sass code

.styleguide {
    padding: $line-height-computed 0;
}
.col-linebreak {
    border-left: 1px dotted $gray-light;
}
