{# -*- engine: django -*- #}
{# Render blog article #}
{% extends "aldryn_newsblog/base_templates/fullwidth.html" %}
{% load i18n cms_tags apphooks_config_tags %}

{% block title %}{{ article.title }} - {{ block.super }}{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block newsblog_content %}
    <div class="aldryn-newsblog-detail">
        {% include "aldryn_newsblog/includes/article.html" with detail_view="true" %}
    </div>
    {% static_placeholder "newsblog_social" %}
{% endblock %}

{% block newsblog_footer %}
    <div class="aldryn-newsblog-pager">
	<div class="d-flex justify-content-between">
	    <div class="aldryn-newsblog-pager-button">
		{% if prev_article %}
		    <a href="{{ prev_article.get_absolute_url }}">
			<i class="fas fa-chevron-left" aria-hidden="true"></i> {% trans "Previous Article" %}
		    </a>
		{% else %}
                    <span class="text-muted">
			<i class="fas fa-chevron-left" aria-hidden="true"></i> {% trans "Previous Article" %}
		    </span>
		{% endif %}
	    </div>
	    <div class="aldryn-newsblog-pager-button">
		<a href="{% namespace_url "article-list" %}">
		    <i class="fas fa-arrow-up" aria-hidden="true"></i> {% trans "Back to Overview" %}
		</a>
	    </div>
	    <div class="aldryn-newsblog-pager-button">
		{% if next_article %}
                    <a href="{{ next_article.get_absolute_url }}">
			{% trans "Next Article" %} <i class="fas fa-chevron-right" aria-hidden="true"></i>
		    </a>
		{% else %}
                    <span class="text-muted">
			{% trans "Next Article" %} <i class="fas fa-chevron-right" aria-hidden="true"></i>
		    </span>
		{% endif %}
	    </div>
	</div>
    </div>
    {% static_placeholder "newsblog_comments" %}
{% endblock %}
