{# -*- engine: django -*- #}
{% extends "base_root.html" %}
{% load staticfiles i18n cms_tags menu_tags %}

{% block body_class %}tpl-base{% endblock %}

{# no indent for better readability on extend_root #}
{% block extend_root %}

    {# -> Page Header #}
    {% block header %}
	{# Doc: http://getbootstrap.com/components/#navbar #}
	{# -> Skip link for screen reader #}
	<a class="skippy sr-only sr-only-focusable" href="#page-content">
	    <span class="skippy-text">{% trans "Skip to main content" %}</span>
	</a>

	<header>
	    {# -> Top Navigation Bar #}
	    <nav id="top-navbar" class="navbar">{# navbar is required by js code #}
		<div class="container">{# to center the navbar on page #}
		    {# Info: the logo should be placed first for seo reasons #}
		    <a class="navbar-brand"  href="{% url "pages-root" %}">
			{# <img class="brand-logo" src="{% static "img/logo.svg" %}" alt="{{ request.site.name }}" height="35" /> #}
			{# <img class="brand-logo" src="{% static "img/logo-home-page.svg" %}" alt="{{ request.site.name }} logo" height="50" /> #}
			<img class="brand-logo" src="{% static settings.logo %}" alt="{{ request.site.name }} logo" height="50" />
		    </a>

		    {# Info: ensure the anchor names are callable #}
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#page-navigation" aria-controls="page-navigation" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		    </button>

		    <div class="collapse navbar-collapse" id="page-navigation">
			{% block navbar %}
			    {# http://docs.django-cms.org/en/latest/how_to/frontend_models.html#page-menu-edit #}
			    {# to enable: double-click to edit #}
			    {% render_model_block request.current_page "changelist" %}
			    {% with dropdown="true" %}
				<ul class="navbar-nav ml-auto" role="menubar">
				    {# http://docs.django-cms.org/en/latest/reference/navigation.html#show-menu #}
				    {% show_menu 0 1 100 100 "includes/menu/navigation.html" %}
				    {# http://docs.django-cms.org/en/latest/reference/navigation.html#show-menu-below-id #}
				    {# {% show_menu_below_id "meta" 0 0 100 100 "includes/menu/navigation.html" %} #}
				    {# http://docs.django-cms.org/en/latest/reference/templatetags.html#language-chooser #}
				    {% language_chooser "includes/menu/language_menu.html" "native" %}
				</ul>
			    {% endwith %}
                            {% endrender_model_block %}
			{% endblock navbar %}
		    </div>
		</div>
	    </nav>

	    {# -> Breadcrumb #}
	    {# doc: https://getbootstrap.com/docs/4.4/components/breadcrumb #}
	    {% block breadcrumb %}
		{% if not request.current_page.is_home %}
		    <nav id="page-breadcrumb" aria-label="breadcrumb">
			<div class="container">{# to center navbar on page #}
			    <h3 class="sr-only">{% trans "You are here" %}</h3>
			    <ol class="breadcrumb">
				{% block extend_breadcrumb %}
				    {% show_breadcrumb 0 "includes/menu/breadcrumb.html" %}
				{% endblock extend_breadcrumb %}
			    </ol>
			</div>
		    </nav>
		{% endif %}
	    {% endblock breadcrumb %}
	</header>
    {% endblock header %}

    {# -> Page Content #}
    <hr class="sr-only" id="page-content" />
    {% block extend_base %}
	<div class="container">
	    {% block feature %}{% placeholder "feature" %}{% endblock feature %}
	    {% block messages %}{% include "includes/messages.html" %}{% endblock messages %}
	    {% block content %}{% placeholder "content" %}{% endblock %}
	</div>
    {% endblock extend_base %}

    {# -> Page Footer #}
    {% block footer %}
	<footer class="footer" role="contentinfo">
            <h1 class="sr-only" id="page-footer">{% trans "Page Footer" %}</h1>

	    <div class="footer-container">
		{% static_placeholder "footer" %}
		{# Render a footer menu #}
		{# Fixme: include compatibility ?, use flex ? #}
		{% render_model_block request.current_page "changelist" %}{# to enable: double-click to edit #}
                <ul class="footer-menu">
		    {% show_menu_below_id "footer" 0 0 100 100 "includes/menu/navigation.html" %}
                </ul>
                {% endrender_model_block %}
	    </div>

	    <div class="footer-container">
		<div id="copyright-notice">
                    <p>Copyright © {{ settings.copyright_year }} {{ settings.copyright_name }} /
		        <a href={% page_url "legal-notice" %}>{% page_attribute "page_title" "legal-notice" %}</a>
		    </p>
		</div>

		<div id="page-top-link">
		    <a href="#page-top" data-spy="scroll"><i class="fas fa-arrow-up"></i> {% trans "Back to top" %}</a>
		</div>
            </div>
	</footer>
    {% endblock footer %}

{% endblock extend_root %}
