// #############################################################################
// Footer

// all styles related to the global footer should be declared within this file
// apply the "sites/" nesting described within the documentation if the file is
// getting to large

footer {
    @include rised-component();
    padding: 2*$padding-large-vertical 0;
    margin-top: $padding-large-vertical;
    background: $navbar-inverse-bg;
    color: white; // $navbar-inverse-color

    a {
	color: white;

	&:hover {
	    color: white;
	}
    }
}
