// #############################################################################
// HEADER

// all styles related to the global header should be declared within this file
// apply the "sites/" nesting described within the documentation if the file
// is getting to large

header {
    @include rised-component();
    // Add vertical space to the header
    padding: 2*$padding-large-vertical 0;
}

.navbar {
    text-transform: uppercase;
    border-radius: 0;

    // For breadcrumb in header
    .navbar-breadcrumb {
	margin-top: $padding-large-vertical;

	.breadcrumb {
	    margin-bottom: 0;
	}
    }
}

.navbar-brand {
    // Center vertically the logo and add some horizontal padding when the menu is collapsed
    padding: 10px;
    margin: 0;
}

@media(min-width: $grid-float-breakpoint) {

    // Overwrite
    .navbar-inverse {
	.navbar-nav {
	    > li > a {
		color: white;

		&:hover,
		&:focus {
		    color: white;
		}
	    }
	    > .active > a {
		&,
		&:hover,
		&:focus {
		    color: white;
		}
	    }
	}
    }

    // Implement horizontal line
    // Fixme: better ?
    .navbar-main {
	ul li {
	    > a::after {
		// position: absolute;
		// left: 0;
		content: "";
		display: block;
		height: 2px;
		bottom: 3px;
		background-color: #a1c42c;
		width: 0;
		transition: all .2s ease-out;
	    }
	    &.active > a::after,
	    > a:hover::after { // :active::after, :focus::after
		width: 100%;
	    }
	}
    }
}
