// #############################################################################
// Newsblog

$newsblog-rule-linewidth: 2px;
$newsblog-rule-color: $gray-300;
$newsblog-author-image-size: 3rem;
$newsblog-border-radius: 4px;
$newsblog-border-radius-round: 40%;
$newsblog-tag-background: $gray-700;

// #####################################

// News metadata : author and data
.aldryn-newsblog-meta {
    // Author image
    img {
	@extend .m-0;
	@extend .mr-2;
	@include rised-component();
	width: $newsblog-author-image-size;
	height: $newsblog-author-image-size;
	border-radius: 50%; // round shape
    }

    p {
	@extend .m-0;
    }
}

// #####################################
// Article list

// Used for article summary in an article list
// templates/aldryn_newsblog/includes/article.html
.aldryn-newsblog-article {
    // Add a rule

    // @extend .py-3;
    @extend .pb-3;

    // border-bottom: $newsblog-rule-linewidth solid $newsblog-rule-color;

    & + hr {
        text-align: center;
        &::after {
            color: $gray-500;
            font-family: "Gabriela",sans-serif;
            font-size: 1rem;
            content: "§";
            display: inline-block;
            position: relative;
            top: -0.9em;
            padding: 0px 0.25em;
            background: #FFF 0% 0% repeat scroll none;
        }
    }

    // Set category typography
    .category {
	// @extend .font-weight-bold;
	font-weight: 700; // bold
    }
}

.aldryn-newsblog-pagination {
    @extend .d-flex;
    @extend .justify-content-center;
}

// #####################################
// Newsblog Sidebar

.aldryn-newsblog-sidebar {
    // Add a rule to separate elements in the sidebar
    // .aldryn-newsblog-article-search,
    .aldryn-newsblog-authors,
    .aldryn-newsblog-categories,
    .aldryn-newsblog-recommended,
    .aldryn-newsblog-tags {
	@extend .mb-3;
	border-bottom: $newsblog-rule-linewidth solid $newsblog-rule-color;
    }

    // Element title in the sidebar
    h6 {
	@extend .mt-3;
    }
}

.aldryn-newsblog-categories {
    ul {
	@extend .list-unstyled;
	// useless
	// @extend .d-flex;
	// @extend .flex-column;

	// issue: badge height = line height
	// li {
	//     @extend .d-flex;
	//     @extend .flex-row;
	//     @extend .justify-content-between;
	//     @extend .py-0;
	//     @extend .my-0;
	// }
    }

    a {
	@extend .pl-2;
	text-transform: uppercase;
	@extend .py-0;
	@extend .my-0;
	// display: block; // add margin bottom space
	// @extend .mb-2;
    }

    // show a vertical rule before
    .active a,
    a:hover {
	border-left: $newsblog-rule-linewidth solid $link-hover-color;
    }
}

.aldryn-newsblog-authors {
    // ???
    .aldryn-newsblog-meta {
    	min-height: $newsblog-author-image-size*1.25;
    }
}

.aldryn-newsblog-categories, .aldryn-newsblog-authors {
    .badge {
	float: right; // Fixme: author
	border-radius: $newsblog-border-radius-round;
    }
}

@mixin aldryn-newsblog-tags() {
    background-color: $newsblog-tag-background;
    border-radius: $newsblog-border-radius;
    @extend .p-1;
    @extend .mt-1;
}

.aldryn-newsblog-tags ul > li {
    display: inline-block;
    @include aldryn-newsblog-tags();

    a {
	color: $white;
    }

    .badge {
	@extend .pr-0;
	background-color: $newsblog-tag-background;
	font-size: 70%;
    }
}

// .aldryn-newsblog-article-search {
// }

// #####################################
// Article Detail

.aldryn-newsblog-pager {
    @extend .mb-3;

    .aldryn-newsblog-pager-button {
	@extend .px-2;
	@extend .py-1;
	border-radius: $newsblog-border-radius*3;

	&:hover {
	    background-color: $gray-200;
	}

	a {
	    text-decoration: none;
	}
    }
}

.aldryn-newsblog-detail { // article.aldryn-newsblog-article
    p.tags {
	@extend .py-3;

	a {
	    @include aldryn-newsblog-tags();
	    @extend .ml-1; // for next items in article details
	    color: $white;
	}
    }

    .lead {
	@extend .mt-3;
    }
}
