// #############################################################################
// Newsblog

$newsblog-rule-linewidth: 2px;
$newsblog-rule-color: $gray-lighter;

.aldryn-newsblog-article {
    // Add a rule
    // padding-top: 2*$padding-large-vertical;
    padding-bottom: 2*$padding-large-vertical;
    // border-bottom: $newsblog-rule-linewidth solid $newsblog-rule-color;

    & + hr {
        text-align: center;
        &::after {
            color: #AAA;
            font-family: "Gabriela",sans-serif;
            font-size: 16pt;
            content: "§";
            display: inline-block;
            position: relative;
            top: -0.9em;
            padding: 0px 0.25em;
            background: #FFF 0% 0% repeat scroll none;
        }
    }
}

// Set category typography
.aldryn-newsblog .category {
    font-weight: 700;
}

// News metadata : author and data
.aldryn-newsblog-meta {
    // Author image
    img {
	@include rised-component();
	width: 40px;
	height: 40px;
	margin: 0 $padding-small-horizontal 0 0; // thumbnail-padding
	border-radius: 50%; // $thumbnail-border-radius;
    }

    p {
	margin: 0;
    }
}

.aldryn-newsblog-pagination {
    // Center pagination
    text-align: center;
}

// #####################################
// Newsblog Sidebar

// Add a rule to separate elements in the sidebar
.aldryn-newsblog-article-search,
.aldryn-newsblog-authors,
.aldryn-newsblog-categories,
.aldryn-newsblog-recommended,
.aldryn-newsblog-tags {
    padding-bottom: $padding-large-vertical;
    border-bottom: $newsblog-rule-linewidth solid $newsblog-rule-color;
}

// Element title in the sidebar
.aldryn-newsblog-sidebar h3 {
    display: inline-block; // to restrict rule to the title width
    font-size: $font-size-base;
    margin-bottom: $padding-large-vertical;
    // add a rule
    padding-bottom: $padding-small-vertical;
    // border-bottom: $newsblog-rule-linewidth solid $mytheme-highlighted-color;
}

.aldryn-newsblog-categories {
    .badge {
	// display: none;
	float: right;
    }

    a {
	// color: $text-color;
	text-transform: uppercase;
	display: block; // add margin bottom space
	margin-bottom: $padding-small-vertical;
	padding-left: $padding-small-horizontal;
    }

    .active a,
    a:hover {
	// color: $mytheme-highlighted-color;
	border-left: $newsblog-rule-linewidth solid $link-hover-color; // $mytheme-highlighted-color
    }
}

.aldryn-newsblog-authors {
    margin-top: $padding-small-vertical; // Fixme: 

    .aldryn-newsblog-meta {
	// font-size: 13px;
	min-height: 50px;
	// padding: 0;
	// border-bottom: none;
    }

    .badge {
	float: right !important;
    }
}

@mixin aldryn-newsblog-tags() {
    background-color: $gray-dark;
    border-radius: $border-radius-base;
    padding: $padding-small-vertical $padding-small-horizontal $padding-small-vertical $padding-small-horizontal;
    margin-top: $padding-small-vertical;
    margin-left: $padding-small-vertical; // Fixme: for next items
}

.aldryn-newsblog-tags ul > li {
    display: inline-block;
    @include aldryn-newsblog-tags();

    a {
	color: #fff;
    }

    .badge {
	background-color: $gray-dark;
	padding-right: 0;
	font-size: 70%;
    }
}

.aldryn-newsblog-article-search {
    margin-top: $padding-small-vertical;
}

// #####################################
// Newsblog Sidebar

.aldryn-newsblog-pager {
    .pager li {
	& > a, & > span, & > span.pager-back {
	    display: inline-block;
	    padding: 5px 14px;
	    border: none;
	    &:hover {
		background-color: $gray-lighter;
	    }
	}

	a {
	    text-decoration: none;
	}
    }
}

// #####################################
// Article Detail

.aldryn-newsblog-detail { // article.aldryn-newsblog-article
    p.tags {
	margin-top: $padding-large-vertical;

	a {
	    @include aldryn-newsblog-tags();
	    color: #fff;
	}
    }

    .lead {
	margin-top: $padding-large-vertical*3;
    }
}
